<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application>

        <activity
            android:name=".ui.activity.CustomerViewTicket"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CustomerWriteReviewActivity"
            android:exported="false" />

        <receiver
            android:name=".services.ReminderBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>