<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:theme="@style/Theme.Timo">
        <activity
            android:name=".ui.activity.AdminChatDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AdminSupportListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AdminDashboardActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.AdminManageCinemasFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AdminManageFilmsFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AdminManageUsersFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AdminStatisticActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AdminAuditTrailActivity"
            android:label="Nhật ký hệ thống" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD3pAATNisK10OwnWGjvjjQ1ys2Pxba6J0" />
    </application>

</manifest>