<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Timo">
        <activity
            android:name=".ui.activity.MovieManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CreateShowtimeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.FilmSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ManagerHomePageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.RoomManagementActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.ManagerHomePageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vn.fpt.timo.ui.activity.ManagerHomePageActivity" />
        </activity>
        <activity
            android:name=".ui.activity.AddEditRoomActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.RoomManagementActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vn.fpt.timo.ui.activity.RoomManagementActivity" />
        </activity>
        <activity
            android:name=".ui.activity.SeatMapActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.RoomManagementActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vn.fpt.timo.ui.activity.RoomManagementActivity" />
        </activity>
    </application>

</manifest>